<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.onlineclass"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="20" />

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.onlineclass.activity.BaseActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Oclass" >
        </activity>
        <activity
            android:name="com.example.onlineclass.activity.AboutMsgActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Oclass" >
        </activity>
        <activity
            android:name="com.example.onlineclass.activity.AboutUsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Oclass" >
        </activity>
        <activity
            android:name="com.example.onlineclass.activity.ContactUsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Oclass" >
        </activity>
        <activity
            android:name="com.example.onlineclass.activity.ExamActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Oclass" >
        </activity>
        <activity
            android:name="com.example.onlineclass.activity.FamousBookActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Oclass" >
        </activity>
        <activity
            android:name="com.example.onlineclass.activity.BestHeadActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Oclass" >
        </activity>
        <activity
            android:name="com.example.onlineclass.activity.LoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Oclass" >
        </activity>
        <activity
            android:name="com.example.onlineclass.activity.MyDownloadActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Oclass" >
        </activity>
        <activity
            android:name="com.example.onlineclass.activity.SettingActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Oclass" >
        </activity>
        <activity
            android:name="com.example.onlineclass.activity.SyncTechActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Oclass" >
        </activity>
        <activity
            android:name="com.example.onlineclass.activity.FindPasswordActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Oclass" >
        </activity>
        <activity
            android:name="com.example.onlineclass.activity.RegisterActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Oclass" >
        </activity>
        <activity
            android:name="com.example.onlineclass.activity.PayActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Oclass" >
        </activity>
        <activity
            android:name="com.example.onlineclass.activity.PayOkActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Oclass" >
        </activity>
    </application>

</manifest>